html {

    scroll-behavior: smooth;

}

body {

    background: #050505;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;

}

h1:hover {

    color: #ff3c00;


}


p:hover {

    color: #ff3c00;


}

.t1 {

    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-right: 100px;

}

.t2 {

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}